{% extends "layout.html" %}

{% block content %}

<section style="text-align:center; margin-top:30px;">
    <h2 style="font-size:32px; color:#0e3c7e; font-weight:700;">
        Enhance Your Handwriting with AI ✍️
    </h2>
    <p style="margin-top:10px; font-size:18px;color:#0e3c7e;">Practice. Improve. Track Your Progress.</p>
    <div class="hero-buttons">
    <a href="/upload" class="btn-primary">📤 Upload Sample</a>
    <a href="/practice" class="btn-primary">📄 Practice Sheets</a>
</div>
</section>

<div class="feature-cards">

    <div class="feature-card">
        <h3>📄 Practice Worksheets</h3>
        <p>Get personalized worksheets based on your handwriting patterns.</p>
    </div>

    <div class="feature-card">
        <h3>🤖 AI Feedback</h3>
        <p>Receive detailed analysis on slant, spacing, pressure & consistency.</p>
    </div>

    <div class="feature-card">
        <h3>📈 Progress Tracking</h3>
        <p>View charts and weekly reports to see your improvement visually.</p>
    </div>

    <div class="feature-card">
        <h3>🏅 Achievements & Badges</h3>
        <p>Earn badges as your handwriting becomes smoother and clearer.</p>
    </div>
</div>


{% endblock %}