<!DOCTYPE html>
<html>
<head>
    <title>Practice Sheets</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1 style="text-align: center;">Handwriting Practice Sheets</h1>

<div class="menu-container">

    <a class="btn" href="{{ url_for('english_az_sheet') }}">English A–Z Sheet</a>
    <a class="btn" href="{{ url_for('cursive_sheet') }}">Cursive Practice Sheet</a>
    <a class="btn" href="{{ url_for('devanagari_matra_sheet') }}"> Matra Practice Sheet</a>
    <a class="btn" href="{{ url_for('devanagari_shirorekha_sheet') }}">Shirorekha Practice Sheet</a>
    

</div>

</body>
</html>